@import 'social/ss-social.css';

/**
 *   General type stuff
 */
body {
	font: 15px/24px "Helvetica Neue", sans-serif;
	
	color: #7a7470;
}

h1, h2, h3 {
	font-weight: 300;
	color: #413c39;
}
	h1 {
		font-size: 40px;
		line-height: 52px;
	}
	h2 {
		font-size: 36px;
		line-height: 44px;
	}

header, section, footer {
	padding: 100px 0;
}

code {
	position: relative;
	top: -1px;
	
	font-size: 85%;
}

.btn {
	display: block;
	padding: 8px 25px;
	margin: 15px 0;
	
	font-size: 13px;
	text-align: left;
	font-weight: 500;
	
	background: #f48642;
	color: #fff;
	
	border-radius: 25px;
}
	.btn span {
		float: right;
		
		font-size: 11px;
		font-weight: normal;
		opacity: .6;
	}
	.btn:hover, .btn:active {
		background: #eb7a34;
	}
		.btn:active {
			box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
		}
	.btn.subdued {
		background: #b1aa9c;
	}
		.btn.subdued:hover, .btn.subdued:active {
			background: #a39c8b;
		}
	.btn:before {
		content: '';
		
		display: inline-block;
		width: 8px;
		height: 10px;
		margin-right: 8px;
		margin-left: -4px;
		
		background: url('../img/download.png');
		background-size: 100%;
	}
		#download .btn:before {
			background-image: url('../img/download_footer.png');
		}
	a.download:hover:after, #download a.btn:hover:after {
		content: '';
		position: absolute;
		left: -5px;
		right: -5px;
		bottom: -8px;
		top: -8px;
		
		border: 2px solid #fff;
		border-radius: 50px;
		
		-webkit-animation: pulse 1.5s infinite;
		animation: pulse 1.5s infinite;
	}

/**
 *   First panel
 */
#top {
	position: relative;
	padding: 50px 0 80px;
	
	background: #f22e81;
	background: linear-gradient(to bottom right, #f22e81, #fc904e);
	
	color: rgba(255,255,255,.6);
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	
	box-shadow: inset 0 -2px 5px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.07);
}
	#top img, #top sup {
		pointer-events: none;
		-webkit-user-select: none;
	}
		#top sup {
			position: relative;
			left: 12px;
			top: -4px;
			
			font-size: 12px;
			font-weight: bold;
			color: #ffa2c6;
		}
	#top nav {
		padding-bottom: 50px;
		text-shadow: none;
	}
		#top nav a {
			float: right;
			margin-left: 30px;
			padding: 7px 25px;
			
			font-weight: 500;
			font-size: 13px;
			
			color: rgba(255,255,255,.8);
			background: rgba(0,0,0,.05);

			border-radius: 50px;
			
			-webkit-transition: background .2s, color .2s;
			transition: background .2s, color .2s;
		}
			#top nav a:hover {
				background: rgba(0,0,0,.1);
				color: #fff;
			}
			#top nav a:active {
				background: rgba(0,0,0,.1);
				box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
			}
		#top nav a.download {
			position: relative;
			
			background: #fff;
			color: #eb3f80;
			
			font-weight: bold;
		}
			#top nav a.download span {
				padding-left: 5px;

				color: #ff85b3;
				font-weight: normal;
			}
			#top nav a.download:hover:after {
				content: '';
				position: absolute;
				left: -5px;
				right: -5px;
				bottom: -8px;
				top: -8px;
				
				border: 2px solid #fff;
				border-radius: 50px;
				
				-webkit-animation: pulse 1.5s infinite;
				animation: pulse 1.5s infinite;
			}
	#top p {
		padding-bottom: 60px;
		
		font-size: 19px;
		line-height: 27px;	
	}
		#top h1 {
			padding: 100px 0 8px;
			color: #fff;
		}
		
@-webkit-keyframes pulse {
	from { opacity: .25; -webkit-transform: scale(1.05); }
	50%, to { opacity: 0; -webkit-transform: scale(1.2); }
}

@keyframes pulse {
	from { opacity: .25; transform: scale(1.05); }
	50%, to { opacity: 0; transform: scale(1.2); }
}

		
/**
 *   Install panel
 */
#install {
	background: #35312e;
	color: #8a817a;
	
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
}
	#install h2 {
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.5);
	}
	#install .instructions {
		position: relative;
		margin: 60px 0 0;
		padding: 150px 0;
		
		border-radius: 10px;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
		
		background: rgba(0,0,0,.2);
	}
		#install .instructions ol {
			position: absolute;
			right: 0;
			top: -100px;
		}
			#install .instructions ol li {
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				margin-left: 15px;
				
				font-size: 15px;
				line-height: 40px;
				font-weight: 500;
				text-align: center;
				
				background: rgba(0,0,0,.1);
				
				border-radius: 20px;
				cursor: pointer;
				
				-webkit-transition: background .2s, color .2s;
				transition: background .2s, color .2s;
			}
				#install .instructions ol li:hover {
					background: rgba(0,0,0,.25);
					color: #fff;
				}
				#install .instructions ol li.active {
					background: #f48642;
					color: #fff;
				}
	
/**
 *   Options panel
 */
#options {
	overflow: hidden;
}
	#options .text {
		float: left;
		width: 270px;
	}
	#options h2 {
		padding-bottom: 20px;
		line-height: 48px;
	}
	#options p {
		padding: 10px 0 20px;
		font-size: 17px;
		line-height: 26px;
	}
		#options b {
			font-weight: 500;
		}
	#options pre {
		float: right;
		width: 600px;
		padding: 30px;
		
		background: #f6f3ef;
		color: #7b6f5f;
		
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
		border-radius: 6px;
		
		font: 14px/20px "Anonymous Pro", monospace;
	}
	#options .comment {
		color: #afa796;
	}
	#options .val {
		color: #db5e40;
	}


/**
 *   Optional extras
 */
#extras {
	background: #f6f4f0;
	
	/* fancy gradient shit */
	background: #f6f4f0 radial-gradient(farthest-side at center top, #dcd6ca 0%, #f6f4f0 35%) no-repeat 50% -140px;
	background-size: 200% 100%;
	
	box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	
	text-align: center;
}
	#extras h2 {
		color: #827869;
		margin-bottom: 60px;
	}
	#extras ul {
		list-style: none;
		overflow: hidden;
	}
		#extras li {
			float: left;
			width: 28%;
			margin-right: 8%;
		}
			#extras li:last-child {
				margin-right: 0;
			}
	#extras h3 {
		display: block;
		margin-bottom: 20px;
		
		color: #b6ac9e;

		font-size: 13px;
		line-height: 36px;
		text-transform: uppercase;
		font-weight: bold;
	}
		#extras h3:before {
			content: '';
			
			display: block;
			width: 48px;
			height: 36px;
			margin: 0 auto 10px;
			
			background: url('../img/infinite.png');
			background-size: 48px 36px;
		}
			#extras .fade h3:before { background-image: url('../img/fade.png'); }
			#extras .vertical h3:before { background-image: url('../img/vertical.png'); }
			
	#extras .unslider {
		height: 80px;
		margin: 30px 0;
		
		background: #ece8e1;
		color: #aba393;
		line-height: 80px;
		
		border-radius: 5px;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}
		#extras .unslider li {
			margin: 0; /* fix offset */
		}
		#extras .unslider .halfling {
			padding: 16px;
			line-height: 24px;
		}
		#extras .unslider + p {
			margin-bottom: 30px;
		}
		
/**
 *   Footer
 */
#download {
	padding: 250px 0;
	overflow: hidden;
	
	background: #f48642;
	background: linear-gradient(135deg, #f16631, #f7a653);
	
	box-shadow: inset 0 2px 5px rgba(0,0,0,.1);
}
	#download h2 {
		position: relative;
		top: -40px;
		
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.15);
	}
	#download .btn {
		display: inline-block;
		padding: 9px 25px 8px;
		margin: 0 30px 0 0;
		
		position: relative;
		
		font-size: 13px;
		
		background: rgba(255,255,255,.7);
		color: #e07532;
	}
		#download .btn.hilite {
			background: #fff;
		}
		#download .btn:before {
			position: relative;
			top: 1px;
		}
		#download .btn span {
			display: inline-block;
			float: none;
			padding-left: 5px;
			
			font-size: 13px;
		}
	.social {
		float: right;
		
		font: 500 13px/30px Helvetica Neue, sans-serif;
	}
		.social h2 {
			margin-top: -44px;
			margin-left: 30px;
			
			opacity: .5;
		}
		.social a {
			display: inline-block;
			padding: 6px 25px;
			margin-left: 30px;
			
			color: #ffccad;
			background: rgba(0,0,0,.03);
			
			border-radius: 50px;
			
			-webkit-transition: background .2s, color .2s;
			transition: background .2s, color .2s;
		}
			.social a:hover {
				color: #fff;
				background: rgba(0,0,0,.06);
			}
			.social a:active {
				color: #fff;
				background: rgba(0,0,0,.08);
				
				box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
			}
			.social a:before {
				position: relative;
				top: 2px;
				left: -2px;
				
				margin-right: 8px;
			}