body {
	font: 15px/25px "Whitney HTF", Whitney, "Alegreya Sans", Lato, sans-serif;
	color: #787b80;
}

code, pre, .mono {
	font-size: 75%;
	font-family: "Droid Sans Mono", "Anonymous Pro", Cousine, Consolas, monospace;
}
	code, .adjustable {
		padding: 0 3px;
		
		background: #f8fbff;
		color: #69768b;
		
		border-radius: 2px;
	}
	pre {
		margin: 10px 0 20px;
		padding: 25px 40px;
		
		border-radius: 5px;
		
		background: #434449;
		color: #fff;
		text-shadow: 0 1px 2px rgba(0,0,0,.1);
	}
		pre .ghost {
			color: #696a70;
		}
		pre .adjustable {
			font-weight: bold;
			color: #fff;
			background: #484951;
		}
	.unslider pre {
		margin-top: 50px;
		border-radius: 5px 0 5px 5px;
	}


.amp {
	position: relative;
	top: 1px;

	padding-right: 2px;
	
	font-family: "Adobe Caslon Pro", Baskerville, Garamond, serif;
	font-style: italic;
	font-size: 110%;
}

h1, h2, h3, h4, h5 {
	font-weight: lighter;
	letter-spacing: -1px;
}
	h1 {
		font-size: 54px;
		line-height: 64px;
	}
	h2 {
		padding-bottom: 20px;

		font-size: 40px;
		line-height: 52px;
		
		color: #5d6165;
	}
	
a, .btn, .dots li {
	-webkit-transition: background .2s, color .2s, opacity .2s;
	-moz-transition: background .2s, color .2s, opacity .2s;
	transition: background .2s, color .2s, opacity .2s;
}

.btn {
	display: inline-block;
	padding: 12px 22px;
	
	background: #434449;
	color: #babbbf;
	
	font-weight: 500;
	text-shadow: none;
	
	border-radius: 5px;
}
	.btn.download {
		background: #1cc58e;
		color: #fff;
	}
	.btn.full {
		display: block;
		text-align: center;
	}
	.btn:hover {
		box-shadow: inset 0 0 0 2000px rgba(0,0,0,.05);
	}

.fyi {
	margin-bottom: 20px;
	padding: 13px 26px 12px;
	
	background: #fffaeb;
	color: #a78651;
	
	font-size: 15px;
	line-height: 25px;
	
	border-radius: 5px;
}
	p a, .fyi a, main li a {
		padding-bottom: 1px;
		
		color: #3089ce;
		border-bottom: 1px solid rgba(48,137,206,.1);
	}

p, main li {
	font-size: 19px;
	line-height: 29px;
}
	p {
		padding-bottom: 19px;
	}
	
main ol, main ul {
	clear: both;
	margin: 10px 0 30px;
	
	border-top: 1px solid #f5f6f7;
}
	main li {
		position: relative;
		padding: 18px 50px;
		
		list-style: none;
		
		border-bottom: 1px solid #f5f6f7;
	}
		main li:before {
			position: absolute;
			top: 18px;
			left: 20px;
			
			padding-right: 10px;
			
			font-size: 15px;
			color: #bdbfc3;
		}
		main .unslider ul, main .unslider ol {
			border: none;
		}
			main .unslider li:before {
				display: none;
			}
		main ul li:before {
			content: '• ';
		}
	main ol {
		counter-reset: item;
	}
		main ol li:before {
			content: counter(item) '. ';
			counter-increment: item;
		}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	
	padding: 30px;
	width: 280px;
		
	background: #26272b;
	box-shadow: inset -3px 0 5px rgba(0,0,0,.1);
	
	text-shadow: 0 2px 3px rgba(0,0,0,.15);
}
	.sidebar > ul {
		height: 80%;
		height: -webkit-calc(100% - 150px);
		height: -moz-calc(100% - 150px);
		height: calc(100% - 150px);
		
		overflow: auto;
		padding-top: 20px;
	}
		.sidebar li {
			list-style: none;
			padding-bottom: 15px;
		}
			.sidebar li ul {
				/*display: none;*/
				padding-top: 0;
			}
				.sidebar li ul li {
					padding-bottom: 0;
				}
			.sidebar li > a {
				display: block;
				padding-bottom: 2px;
			}
		.sidebar li a {
			color: #787b80;
		}
			.sidebar li a:hover {
				color: #fff;
			}
			.sidebar li a.active {
				color: #1cc58e;
			}
		.sidebar b, .sidebar b a {
			color: #c5c6ca;
			font-weight: 500;
		}
	.sidebar .btn {
		float: left;
		width: 102px;
		text-align: center;
		margin-right: 15px;
	}
		.sidebar .btn:last-child {
			margin-right: 0;
		}
		.sidebar .download {
			float: none;
			width: 100%;
			margin: 0 0 15px;
		}
		
main {
	padding-left: 280px;
}
	main article {
		padding: 90px 0;
	}

#demo {
	position: relative;
	padding: 0;
	
	background: #3bdc77;
	background: linear-gradient(60deg, #3bdc77, #4e99e5);
	
	box-shadow: inset 0 -5px 10px rgba(0,0,0,.01);
	
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,.05);
	text-align: center;
}
	#demo p {
		font-size: 21px;
		line-height: 28px;
		
		color: rgba(255,255,255,.75);
	}
	#demo a {
		padding-bottom: 1px;
		
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255,.2);
	}
	
	#demo ul, #demo ol {
		border: none;
	}
	#demo ul li {
		padding: 150px 0;
		border: none;
	}
		#demo li:before {
			content: '';
			display: none;
		}
	
	#demo .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 30px;
	}
		#demo .dots li {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin: 0 5px;
			padding: 0;
			
			border: none;
			border-radius: 12px;
			
			cursor: pointer;
			
			font-size: 12px;
			line-height: 24px;
			font-weight: bold;
			
			background: rgba(0,0,0,.02);
			color: rgba(255,255,255,.5);
		}
			#demo .dots li.active {
				background: rgba(0,0,0,.075);
				color: #fff;
			}

#intro {
	border-bottom: 1px solid #f6f7f9;
}
	#intro p {
		padding-bottom: 25px;
		
		font-size: 22px;
		line-height: 35px;
		font-weight: 300;
	}
		#intro p:last-child {
			padding-bottom: 0;
		}
		#intro b {
			font-weight: 500;
			color: #5f6268;
		}
		
.progress-demo {
	position: relative;
}
	.progress-demo .dots {
		position: absolute;
		right: 0;
		top: 0;
	}
		.progress-demo .dots li {
			float: left;
			padding: 0 25px;
			margin-left: 10px;
			
			font-size: 15px;
			line-height: 50px;
			font-weight: 500;
			
			background: #f5f6f7;
			
			cursor: pointer;
			border-radius: 5px 5px 0 0;
		}
			.progress-demo .dots li.active {
				background: #434449;
				color: #fff;
			}
		
#customising {
	background: #f7f8fa;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.04);
}